APScheduler @ file:///C:/b/abs_eewol9hhy6/croot/apscheduler_1668706376042/work
asgiref @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_cchykh5sgr/croots/recipe/asgiref_1661287542702/work
brotlipy==0.7.0
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
cffi @ file:///C:/b/abs_49n3v2hyhr/croot/cffi_1670423218144/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cryptography @ file:///C:/b/abs_8ecplyc3n2/croot/cryptography_1677533105000/work
Django @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_eeor5o9jj8/croots/recipe/django_1661292534510/work
idna @ file:///C:/b/abs_bdhbebrioa/croot/idna_1666125572046/work
lxml @ file:///C:/ci/lxml_1657527492694/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyOpenSSL @ file:///C:/b/abs_552w85x1jz/croot/pyopenssl_1677607703691/work
PySocks @ file:///C:/ci_310/pysocks_1642089375450/work
pytz==2022.7.1
requests @ file:///C:/b/abs_80_edxtvhu/croot/requests_1678709752318/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
spyne==2.14.0
sqlparse @ file:///C:/b/abs_83jn6owfpc/croot/sqlparse_1668793499314/work
suds==1.1.2
tzdata @ file:///tmp/build/80754af9/python-tzdata_1611693927741/work
tzlocal @ file:///C:/b/abs_961jok6k6w/croot/tzlocal_1668627423616/work
urllib3 @ file:///C:/b/abs_9bcwxczrvm/croot/urllib3_1673575521331/work
win-inet-pton @ file:///C:/ci_310/win_inet_pton_1642658466512/work
wincertstore==0.2
xmltodict @ file:///Users/ktietz/demo/mc3/conda-bld/xmltodict_1629301980723/work
