APScheduler 
asgiref 
brotlipy==0.7.0
certifi 
cffi 
charset-normalizer 
cryptography 
Django 
idna 
lxml 
pycparser 
pyOpenSSL 
PySocks 
pytz==2022.7.1
requests
six 
spyne==2.14.0
sqlparse 
suds==1.1.2
tzdata 
tzlocal 
urllib3 
win-inet-pton 
wincertstore==0.2
xmltodict 
