<section>
  <h2>Legal Information</h2>
  <mat-list>
    <mat-list-item>FH Campus Wien - SDE Gr.6</mat-list-item>
    <mat-list-item>Favouritenstrasse 222</mat-list-item>
    <mat-list-item>1100 Wien</mat-list-item>
    <mat-list-item>Tel.Nr.: +43 677 111 1111</mat-list-item>
    <mat-list-item>Mail: eMail@mail.com</mat-list-item>
    <p>Consumers have the option of filing complaints with the EU's online dispute resolution platform:
      <a href="http://ec.europa.eu/odr.">http://ec.europa.eu/odr.</a>
      You can also send any complaints to the email address provided above.</p>
  </mat-list>

</section>
<section>
  <h2>About Us</h2>
  <p>FastCAR is a car rental shop that provides affordable and reliable rental vehicles to customers in the area. We offer a wide selection of cars, SUVs, and vans to meet the needs of all types of travelers, whether you're renting a car for a family vacation, a business trip, or just need a temporary replacement vehicle.</p>
  <p>At FastCAR, we pride ourselves on providing exceptional customer service and making the rental process as easy and convenient as possible. Our knowledgeable staff are always available to help you choose the right vehicle for your needs and answer any questions you may have about our rental policies and procedures.</p>
  <p>Whether you're a local resident or a visitor to the area, we invite you to come to see us at FastCAR and experience the convenience and value of renting a car from us. We look forward to serving you!</p>
</section>
<section>
  <h2>Terms and Conditions</h2>
  <p>By renting a car from FastCAR, you agree to our terms and conditions. These include:</p>
  <ul>
    <li>You must be at least 21 years old to rent a car from us</li>
    <li>You must have a valid driver's license and a major credit card</li>
    <li>You are responsible for any damage to the car during your rental period</li>
    <li>You are responsible for following all traffic laws and regulations</li>
    <li>You must return the car on time and in the same condition as when you rented it</li>
  </ul>
</section>
<section>
  <h2>Privacy Policy</h2>
  <p>FastCAR is committed to protecting your privacy. We collect and use personal information only for the purposes of renting cars and providing customer service. We do not sell or share your information with third parties.</p>
  <p>For more information, please see our full <a routerLink="/privacy">Privacy Policy</a>.</p>
</section>
