<div class="px-3 py-2 mb-3">
  <div class="container text-center pb-2 border-bottom mb-3">
    <div class="row align-items-center">
      <div class="col-3">
        <form class="mb-2 mb-lg-0 me-lg-auto" role="search">
          <input type="search" class="form-control" placeholder="Dream Car..." aria-label="Search" [(ngModel)]="carChoice" name="carSearch">
        </form>
      </div>
      <div class="col-2">
        <mat-form-field appearance="outline" class="mb-2 mb-lg-0 me-lg-auto">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [min]="minDate" [max]="" [rangePicker]="picker">
            <input matStartDate placeholder="Start date">
            <input matEndDate placeholder="End date">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div class="col">

      </div>
    </div>
  </div>

  <div class="list-group w-auto pb-1" *ngFor="let car of cars">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span  alt="carLogo" height="32" class="material-icons rounded-circle flex-shrink-0 me-2" [ngStyle]="{'color': car.rented ? 'red' : 'green' }">
        {{car.rented ? "event_busy" : "event_available"}}
          </span>
          <p class="mb-0">{{car.model}}</p>
        </mat-panel-title>
        <div class="align-content-end">
          <mat-panel-description >
            {{car.price}} USD/day
            <a class="material-icons md-24 iconColor ms-2" (click)="checkout(car)">shopping_cart</a>
          </mat-panel-description>
        </div>


      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>Fuel: {{car.fuel}}</mat-list-item>
        <mat-list-item>Mileage: {{car.mileage}} km</mat-list-item>
        <mat-list-item *ngIf="car.automatic">Automatic</mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </div>
</div>
