<section>
  <h2>Introduction</h2>
  <p>FastCAR Car Rental Shop respects your privacy and is committed to protecting your personal data. This privacy policy will inform you about how we look after your personal data when you visit our website (regardless of where you visit it from) and tell you about your privacy rights and how the law protects you.</p>
</section>
<section>
  <h2>What Data We Collect</h2>
  <p>We may collect and process the following data about you:</p>
  <ul>
    <li>Information you give us: This includes information about you that you give us by filling in forms on our website, subscribing to our newsletter, or corresponding with us by phone, email or otherwise. This information may include your name, address, email address, phone number, and credit card details.</li>
    <li>Information we collect about you: With regard to each of your visits to our website, we may automatically collect the following information:</li>
    <ul>
      <li>technical information, including the Internet protocol (IP) address used to connect your computer to the Internet, your login information, browser type and version, time zone setting, browser plug-in types and versions, operating system and platform;</li>
      <li>information about your visit, including the full Uniform Resource Locators (URL) clickstream to, through and from our website (including date and time); products you viewed or searched for; page response times, download errors, length of visits to certain pages, page interaction information (such as scrolling, clicks, and mouse-overs), and methods used to browse away from the page and any phone number used to call our customer service number.</li>
    </ul>
  </ul>
</section>
<section>
  <h2>How We Use Your Data</h2>
  <p>We will only use your personal data when the law allows us to. Most commonly, we will use your personal data in the following circumstances:</p>
  <ul>
    <li>To fulfill a contract we are about to enter into or have entered into with you;</li>
    <li>Where it is necessary for our legitimate interests (or those of a third party) and your interests and fundamental rights do not override those interests;</li>
    <li>Where we need to comply with a legal or regulatory obligation.</li>
  </ul>
</section>
